%h1 US Patent inventor locator

= render 'maps/partials/intro'

#map_container.bottom_20

= render "maps/partials/search_form"
= render partial: "maps/partials/table", locals: { response: @response }
