@import "bootstrap";
@import "global";
@import "maps";

body {
  height: 100%;
  /*padding-top: 60px;*/
  background-image: url(/assets/diagonal_waves.png);
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer h4 {
  font-weight: normal;
  color: white;
}

.content {
  background: white;
  padding: 1em;
  @include box-sizing(border-box);
  @include border-radius(3px);
  @include box-shadow(0 2px 5px #AAA);
}
